<h1>#Series</h1>

In [4]:
data = [i for i in range(1,6)]
data

[1, 2, 3, 4, 5]

In [5]:
import pandas as pd

In [7]:
s = pd.Series(data)

In [8]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
index = ['Linha-' + str(i) for i in range(5)]

In [14]:
index

['Linha-0', 'Linha-1', 'Linha-2', 'Linha-3', 'Linha-4']

In [15]:
s = pd.Series(data,index)

In [16]:
s

Linha-0    1
Linha-1    2
Linha-2    3
Linha-3    4
Linha-4    5
dtype: int64

In [19]:
data = {'Linha-'+str(i): i + 1 for i in range(5)}

In [20]:
data

{'Linha-0': 1, 'Linha-1': 2, 'Linha-2': 3, 'Linha-3': 4, 'Linha-4': 5}

In [21]:
s = pd.Series(data)
s

Linha-0    1
Linha-1    2
Linha-2    3
Linha-3    4
Linha-4    5
dtype: int64

In [22]:
sq = s+2

In [23]:
sq

Linha-0    3
Linha-1    4
Linha-2    5
Linha-3    6
Linha-4    7
dtype: int64

In [24]:
s2 = s+sq

In [25]:
s2

Linha-0     4
Linha-1     6
Linha-2     8
Linha-3    10
Linha-4    12
dtype: int64

In [26]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [27]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
df1 = pd.DataFrame(data)

In [29]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [30]:
index = ['Linha - ' + str(i) for i in range(3)]

In [31]:
index

['Linha - 0', 'Linha - 1', 'Linha - 2']

In [32]:
df1 = pd.DataFrame(data,index)
df1

           0  1  2
Linha - 0  1  2  3
Linha - 1  4  5  6
Linha - 2  7  8  9

In [33]:
columns = ['Coluna - '+ str(i) for i in range(3)]

In [34]:
df1 = pd.DataFrame(data,index,columns)
df1

           Coluna - 0  Coluna - 1  Coluna - 2
Linha - 0           1           2           3
Linha - 1           4           5           6
Linha - 2           7           8           9

In [35]:
data = {}

In [36]:
df1

           Coluna - 0  Coluna - 1  Coluna - 2
Linha - 0           1           2           3
Linha - 1           4           5           6
Linha - 2           7           8           9

In [38]:
data = [ (1,2,3),(4,5,6),(7,8,9)]

In [39]:
df2 = df1.copy()

In [40]:
df2

           Coluna - 0  Coluna - 1  Coluna - 2
Linha - 0           1           2           3
Linha - 1           4           5           6
Linha - 2           7           8           9

In [41]:
df1[df1>0] = 'A'

In [42]:
df1

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          A          A          A
Linha - 1          A          A          A
Linha - 2          A          A          A

In [43]:
df2[df2>0] = 'B'

In [44]:
df2

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          B          B          B
Linha - 1          B          B          B
Linha - 2          B          B          B

In [45]:
df1

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          A          A          A
Linha - 1          A          A          A
Linha - 2          A          A          A

In [47]:
df3=pd.DataFrame(data,index,columns)

In [48]:
df3

           Coluna - 0  Coluna - 1  Coluna - 2
Linha - 0           1           2           3
Linha - 1           4           5           6
Linha - 2           7           8           9

In [50]:
df3 [df3>0] = 'C'
df3

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          C          C          C
Linha - 1          C          C          C
Linha - 2          C          C          C

In [51]:
df1

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          A          A          A
Linha - 1          A          A          A
Linha - 2          A          A          A

In [52]:
df2

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          B          B          B
Linha - 1          B          B          B
Linha - 2          B          B          B

In [53]:
df4 = pd.concat([df1,df2,df3])

In [54]:
df4

          Coluna - 0 Coluna - 1 Coluna - 2
Linha - 0          A          A          A
Linha - 1          A          A          A
Linha - 2          A          A          A
Linha - 0          B          B          B
Linha - 1          B          B          B
Linha - 2          B          B          B
Linha - 0          C          C          C
Linha - 1          C          C          C
Linha - 2          C          C          C

In [55]:
df5 = pd.concat([df1,df2,df3],axis = 1)
df5

,Coluna - 0,Coluna - 1,Coluna - 2,Coluna - 0,Coluna - 1,Coluna - 2,Coluna - 0,Coluna - 1,Coluna - 2
Linha - 0,A,A,A,B,B,B,C,C,C
Linha - 1,A,A,A,B,B,B,C,C,C
Linha - 2,A,A,A,B,B,B,C,C,C

In [56]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [57]:
index

['X', 'Y']

In [58]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4