<h1>#Relatório de análise III </h1>
<h3>Imóveis Residenciais</h3>

In [2]:
import pandas as pd

In [5]:
dados = pd.read_csv('aluguel.csv',sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [6]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [9]:
 list(dados.Tipo.drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [10]:
residencial = [
 'Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila'
]

In [11]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [12]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [16]:
selecao = dados.Tipo.isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [18]:
dados_residencial = dados[selecao]
dados_residencial.head(30)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
28,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
30,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
31,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
32,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
33,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
34,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
36,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
37,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0

In [19]:
list(dados_residencial.Tipo.drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [21]:
dados_residencial.shape[0]

22580

In [22]:
dados.shape

(32960, 9)

In [23]:
dados_residencial.index = range(dados_residencial.shape[0])

In [37]:
dados_residencial.head(50)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
30,Quitinete,Copacabana,1,0,0,27,1300.0,380.0,53.0
31,Apartamento,Jardim Oceânico,3,3,1,200,3500.0,1780.0,496.0
32,Apartamento,Barra da Tijuca,3,1,2,70,1800.0,1095.0,140.0
33,Apartamento,Copacabana,4,1,0,244,5000.0,2500.0,4100.0
34,Apartamento,Barra da Tijuca,3,2,1,110,4500.0,2000.0,450.0
35,Apartamento,Recreio dos Bandeirantes,2,2,2,90,3000.0,1340.0,NaN
36,Apartamento,Recreio dos Bandeirantes,3,2,2,100,2600.0,380.0,NaN
37,Apartamento,Barra da Tijuca,3,1,1,72,2350.0,600.0,70.0
38,Apartamento,Humaitá,2,2,1,180,4000.0,2500.0,300.0
39,Apartamento,Recreio dos Bandeirantes,3,1,2,92,2300.0,840.0,200.0
40,Apartamento,Centro,1,0,0,27,750.0,371.0,19.0
41,Apartamento,Ipanema,1,0,0,35,2000.0,650.0,75.0
42,Apartamento,Ipanema,1,0,0,38,1400.0,530.0,77.0
43,Apartamento,Recreio dos Bandeirantes,2,1,2,83,1600.0,1160.0,157.0
44,Casa de Condomínio,Barra da Tijuca,5,10,5,1600,25000.0,1600.0,NaN
45,Apartamento,Barra da Tijuca,4,3,3,153,6500.0,2300.0,434.0
46,Apartamento,Península,4,3,4,267,18000.0,3100.0,400.0
47,Apartamento,Ipanema,3,1,0,87,3200.0,1305.0,217.0
48,Apartamento,Méier,3,1,0,90,1550.0,844.0,80.0
49,Apartamento,Vargem Pequena,3,1,0,53,1400.0,385.0,28.0

In [25]:


import pandas as pd

In [26]:
numeros = [i for i in range(11)]

In [27]:
letras = [chr(i+65) for i in range(11)]

In [28]:
nome_coluna = ['N']

In [29]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
letras

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

In [31]:
nome_coluna

['N']

In [32]:
df = pd.DataFrame(data=numeros,index=letras,columns=nome_coluna)

In [33]:
df

    N
A   0
B   1
C   2
D   3
E   4
F   5
G   6
H   7
I   8
J   9
K  10

In [34]:
selecao = df['N'].isin([i for i in range(11) if i%2==0])

In [35]:
selecao

A     True
B    False
C     True
D    False
E     True
F    False
G     True
H    False
I     True
J    False
K     True
Name: N, dtype: bool

In [36]:
df[selecao]

    N
A   0
C   2
E   4
G   6
I   8
K  10

<h2>## Exportando a Base de dados</h2>

In [38]:
dados_residencial.to_csv('aluguel_residencial.csv',sep=';')

In [40]:
dados_residencial2 = pd.read_csv('aluguel_residencial.csv',sep=';')

In [41]:
dados_residencial2

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22575,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [42]:
dados_residencial.to_csv('aluguel_residencial.csv',sep=';',index=False)

In [43]:
dados_residencial2 = pd.read_csv('aluguel_residencial.csv',sep=';')

In [44]:
dados_residencial2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN