In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel.csv',sep=';')

In [3]:
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0

# quantidade de 1 e 2

# quantidade de 3 e 4

In [5]:
classes = [0,2,4,6,100]

In [7]:
quartos = pd.cut(dados.Quartos,classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [8]:
pd.value_counts(quartos)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Quartos, dtype: int64

In [10]:
labels = ['1 e 2 Dorm.','3 e 4 Dorm.','5 e 6 Dorm.','7 ou mais Dorm.']

In [16]:
quartos=pd.cut(dados.Quartos,classes,labels=labels,include_lowest=True)
quartos

0        1 e 2 Dorm.
1        1 e 2 Dorm.
2        1 e 2 Dorm.
3        1 e 2 Dorm.
4        1 e 2 Dorm.
            ...
32955    1 e 2 Dorm.
32956    3 e 4 Dorm.
32957    1 e 2 Dorm.
32958    1 e 2 Dorm.
32959    1 e 2 Dorm.
Name: Quartos, Length: 32960, dtype: category
Categories (4, object): ['1 e 2 Dorm.' < '3 e 4 Dorm.' < '5 e 6 Dorm.' < '7 ou mais Dorm.']

In [17]:
quartos.value_counts()

1 e 2 Dorm.        22270
3 e 4 Dorm.         9894
5 e 6 Dorm.          709
7 ou mais Dorm.       87
Name: Quartos, dtype: int64