In [1]:
import pandas as pd
from requests import request,get

In [2]:
url_mercado='https://api.cartolafc.globo.com/atletas/mercado'
mercado = get(url_mercado)

mercado = mercado.json()

posicoes =  mercado['posicoes']
status =  mercado['status']
clubes =  mercado['clubes']
atletas = pd.DataFrame(mercado['atletas'])

# del data['apelido']
# del data['foto']

In [3]:
try:
    del atletas['nome']
    del atletas['scout']
    del atletas['foto']    
except:
    pass

atletas_provaveis=atletas[atletas.status_id==7].sort_values(by='media_num',ascending=False)
atletas_provaveis.head()

,slug,apelido,atleta_id,rodada_id,clube_id,posicao_id,status_id,pontos_num,preco_num,variacao_num,media_num,jogos_num
42,marinho,Marinho,68952,12,277,5,7,9.7,24.72,1.46,10.75,12
305,thiago-galhardo,Thiago Galhardo,71844,12,285,4,7,9.9,18.59,1.74,9.38,11
311,matheus-ferraz,Matheus Ferraz,38632,12,266,3,7,9.2,6.58,0.58,9.20,1
342,saravia,Saravia,96725,12,285,2,7,0.0,18.78,0.00,7.96,8
596,victor-luis,Victor Luis,86410,12,263,2,7,13.5,11.60,2.23,7.47,6

In [4]:

pontos_json=[]
index=0
for index,atleta in atletas_provaveis.iterrows():
    # print(atleta.atleta_id)
    
    atleta_id=atleta.atleta_id
    url_pontuacao='https://api.cartolafc.globo.com/auth/mercado/atleta/' + str(atleta_id) + '/pontuacao'
    header={'authorization':'Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJXLUppTjhfZXdyWE9uVnJFN2lfOGpIY28yU1R4dEtHZF94aW01R2N4WS1ZIn0.eyJqdGkiOiIxNTk2NTM3NC03ZGRlLTRiZDctYThlYi1kOWEwMmQzMjU0ZDAiLCJleHAiOjE2MDM5NzA3NTUsIm5iZiI6MCwiaWF0IjoxNjAxMzc4NzU1LCJpc3MiOiJodHRwczovL2lkLmdsb2JvLmNvbS9hdXRoL3JlYWxtcy9nbG9iby5jb20iLCJzdWIiOiJmOjNjZGVhMWZiLTAwMmYtNDg5ZS1iOWMyLWQ1N2FiYTBhZTQ5NDphMmRiOTUzYi0zOTc5LTQ4MDEtODc5YS1mODdlZjU2YjBmMmIiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJjYXJ0b2xhQGFwcHMuZ2xvYm9pZCIsImF1dGhfdGltZSI6MTYwMTM3ODc1NCwic2Vzc2lvbl9zdGF0ZSI6IjlkZDQ5OTVhLWVkYjAtNDAwMy1iNTBhLTY1NWI3Y2E2OWQ5ZiIsImFjciI6IjEiLCJzY29wZSI6Im9wZW5pZCBlbWFpbCBnbG9ib2lkIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsIm5hbWUiOiJJZ29yIEZlcnJlaXJhIGRlIFNvdXphIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiaXJnb3QiLCJmYW1pbHlfbmFtZSI6IiIsImVtYWlsIjoiaWdvci5mZXJyZWlyYXNvdXphQGdtYWlsLmNvbSIsImdsb2JvX2lkIjoiYTJkYjk1M2ItMzk3OS00ODAxLTg3OWEtZjg3ZWY1NmIwZjJiIn0.grMc3yNeoqlJ_C4WB6v6eYG4WTm0XYclZJUCuXm8ZColacAi1k2h7la93gZS7Afft0BrCS1_LVixjCz6PswaGALYqUhkpzB2AGIw18QZDmKkeLgT4Ocj5s1O5ITh7XnpyPfAN5NszDjzW6lQemULUGZakBO2l58ML2Bpb0uf_-pcIHnP1cJa4BxYRyEPWCimW3cwHRNc00hgb_z5_UF529_vnMMtujZp9PL-eZpiN3H-vJZ3Ed7W4Lb2NQy1QNaOS3eEGn2eSl4P_gNwq6vx9r7y1yH2KHn-Wo8lSARpgwogcpgNrPVeXKB16WVegIy3v5bztrcriK1wVYbKLSd2iw'}
    try:
        pontuacao = get(url_pontuacao,headers=header)
        for atleta_r in pontuacao.json():
            pontos_json.append(atleta_r)
    except:
        pass

In [5]:

pontos=pd.DataFrame()
pontos=pd.DataFrame(pontos_json).reset_index()
pontos.head()

   index  atleta_id  rodada_id  pontos  preco  variacao  media
0      0      68952          1    11.7  12.10      7.10  11.70
1      1      68952          2     6.2  15.16      3.06   8.95
2      2      68952          3    23.0  21.62      6.46  13.63
3      3      68952          4    13.9  22.50      0.88  13.70
4      4      68952          5     3.8  21.07     -1.43  11.72

In [6]:
clubesDF = pd.DataFrame(clubes).T
clubesDF.head()

,id,nome,abreviacao,escudos,nome_fantasia
262,262,Flamengo,FLA,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Flamengo
263,263,Botafogo,BOT,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Botafogo
264,264,Corinthians,COR,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Corinthians
265,265,Bahia,BAH,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Bahia
266,266,Fluminense,FLU,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Fluminense

In [7]:
ultima_rodada=atletas_provaveis['rodada_id'].max()
url_partida_atual = 'https://api.cartolafc.globo.com/partidas/'+str(ultima_rodada+1)
partida_atual_response = get(url_partida_atual,headers=header)
partida_atual=partida_atual_response.json()['partidas']
partidas=[]

for i in range(ultima_rodada,0,-1):
    url_partida='https://api.cartolafc.globo.com/partidas/'+str(i)
    partidas_response=get(url_partida,headers=header)
    for partida_json in partidas_response.json()['partidas']:
        partida_json['rodada']=i
        partidas.append(partida_json)

In [8]:
partidasDF=pd.DataFrame(partidas)
partidasDF[partidasDF.clube_casa_id==266].sort_values(by='rodada')

,partida_id,clube_casa_id,clube_casa_posicao,clube_visitante_id,aproveitamento_mandante,aproveitamento_visitante,clube_visitante_posicao,partida_data,local,valida,placar_oficial_mandante,placar_oficial_visitante,url_confronto,url_transmissao,transmissao,rodada
100,243073,266,7,275,"[d, d, v, d, v]","[v, v, e, e, e]",4,2020-08-12 21:30:00,Maracanã,True,1.0,1.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",2
90,243093,266,7,285,"[d, d, v, d, v]","[e, v, d, d, e]",2,2020-08-16 18:00:00,Maracanã,True,2.0,1.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",3
60,243143,266,7,267,"[d, d, v, d, v]","[v, d, v, d, e]",5,2020-08-29 19:00:00,Maracanã,True,2.0,1.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",6
50,243163,266,7,373,"[d, d, v, d, v]","[e, v, v, d, e]",13,2020-09-02 19:15:00,Maracanã,True,1.0,1.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",7
30,243203,266,7,262,"[d, d, v, d, v]","[v, v, v, d, e]",6,2020-09-09 21:30:00,Maracanã,True,1.0,2.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",9
20,243214,266,7,264,"[d, d, v, d, v]","[e, d, d, v, d]",15,2020-09-13 16:00:00,Maracanã,True,2.0,1.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",10
0,243254,266,7,294,"[d, d, v, d, v]","[d, e, d, v, d]",16,2020-09-28 20:00:00,Nilton Santos (Engenhão),True,4.0,0.0,https://globoesporte.globo.com/rj/futebol/bras...,,"{'label': 'veja como foi', 'url': 'https://glo...",12

In [9]:
partida_atualDF=pd.DataFrame(partida_atual)
partida_atualDF

,partida_id,clube_casa_id,clube_casa_posicao,clube_visitante_id,aproveitamento_mandante,aproveitamento_visitante,clube_visitante_posicao,partida_data,local,valida,placar_oficial_mandante,placar_oficial_visitante,url_confronto,url_transmissao,transmissao
0,243273,262,6,293,"[v, v, v, d, e]","[e, d, e, v, v]",11,2020-10-04 16:00:00,Maracanã,True,None,None,,,"{'label': '', 'url': ''}"
1,243274,263,18,266,"[e, e, d, e, e]","[d, d, v, d, v]",7,2020-10-04 11:00:00,Nilton Santos (Engenhão),True,None,None,,,"{'label': '', 'url': ''}"
2,243275,275,4,354,"[v, v, e, e, e]","[d, d, v, d, e]",12,2020-10-03 19:00:00,Allianz Parque,True,None,None,,,"{'label': '', 'url': ''}"
3,243276,280,17,264,"[d, e, d, v, e]","[e, d, d, v, d]",15,2020-10-03 21:00:00,Nabi Abi Chedid,True,None,None,,,"{'label': '', 'url': ''}"
4,243277,282,1,267,"[v, d, v, v, v]","[v, d, v, d, e]",5,2020-10-04 20:30:00,Mineirão,True,None,None,,,"{'label': '', 'url': ''}"
5,243278,284,14,285,"[e, v, e, e, d]","[e, v, d, d, e]",2,2020-10-03 17:00:00,Arena do Grêmio,True,None,None,,,"{'label': '', 'url': ''}"
6,243279,265,20,292,"[e, d, d, d, d]","[v, d, e, v, v]",8,2020-10-04 18:15:00,Pituaçu,True,None,None,,,"{'label': '', 'url': ''}"
7,243280,294,16,276,"[d, e, d, v, d]","[d, v, e, e, e]",3,2020-10-04 16:00:00,Couto Pereira,True,None,None,,,"{'label': '', 'url': ''}"
8,243281,356,10,373,"[d, v, e, v, e]","[e, v, v, d, e]",13,2020-10-04 18:15:00,Castelão (CE),True,None,None,,,"{'label': '', 'url': ''}"
9,243282,290,19,277,"[d, d, e, v, e]","[v, v, e, e, e]",9,2020-10-04 18:15:00,Serrinha,True,None,None,,,"{'label': '', 'url': ''}"

In [10]:
clubesDF
# clubesDF['media_visitante']
# clubesDF['media_em_casa']
# clubesDF['media']
#clubesDF.sort_values(by='id',inplace=True)
#clubesDF.set_index('id',inplace=True)
clubesDF['partidas_em_casa']=partidasDF.groupby('clube_casa_id')['rodada'].apply(list).reset_index(name='partidas_em_casa').rename(columns={'clube_casa_id':'id'}).set_index('id')
clubesDF['partidas_visitante']=partidasDF.groupby('clube_visitante_id')['rodada'].apply(list).reset_index(name='partidas_visitante').rename(columns={'clube_visitante_id':'id'}).set_index('id')
#clubesDF
# partidasDF.groupby('clube_casa_id')['rodada'].apply(list).reset_index(name='partidas_em_casa').rename(columns={'clube_casa_id':'id'}).set_index('id')

clubesDF
# clubesDF[clubesDF.id==262]['partidas_casa']

,id,nome,abreviacao,escudos,nome_fantasia,partidas_em_casa,partidas_visitante
262,262,Flamengo,FLA,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Flamengo,NaN,NaN
263,263,Botafogo,BOT,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Botafogo,NaN,NaN
264,264,Corinthians,COR,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Corinthians,NaN,NaN
265,265,Bahia,BAH,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Bahia,NaN,NaN
266,266,Fluminense,FLU,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Fluminense,NaN,NaN
267,267,Vasco,VAS,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Vasco,NaN,NaN
275,275,Palmeiras,PAL,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Palmeiras,NaN,NaN
276,276,São Paulo,SAO,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,São Paulo,NaN,NaN
277,277,Santos,SAN,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Santos,NaN,NaN
280,280,Bragantino,BGT,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Bragantino,NaN,NaN
282,282,Atlético-MG,ATL,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Atlético-MG,NaN,NaN
284,284,Grêmio,GRE,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Grêmio,NaN,NaN
285,285,Internacional,INT,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Internacional,NaN,NaN
290,290,Goiás,GOI,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Goiás,NaN,NaN
292,292,Sport,SPO,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Sport,NaN,NaN
293,293,Athlético-PR,CAP,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Athlético-PR,NaN,NaN
294,294,Coritiba,CFC,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Coritiba,NaN,NaN
354,354,Ceará,CEA,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Ceará,NaN,NaN
356,356,Fortaleza,FOR,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Fortaleza,NaN,NaN
373,373,Atlético-GO,ACG,{'60x60': 'https://s.glbimg.com/es/sde/f/organ...,Atlético-GO,NaN,NaN

In [30]:
pontos

      index  atleta_id  rodada_id  pontos  preco  variacao  media
0         0      68952          1    11.7  12.10      7.10  11.70
1         1      68952          2     6.2  15.16      3.06   8.95
2         2      68952          3    23.0  21.62      6.46  13.63
3         3      68952          4    13.9  22.50      0.88  13.70
4         4      68952          5     3.8  21.07     -1.43  11.72
...     ...        ...        ...     ...    ...       ...    ...
2671   2671      62129          8     0.0   1.51      0.00  -1.36
2672   2672      62129          9     0.0   1.51      0.00  -1.36
2673   2673      62129         10    -2.6   1.02     -0.49  -1.57
2674   2674      62129         11     0.0   1.02      0.00  -1.57
2675   2675      62129         12    -0.6   1.18      0.16  -1.43

[2676 rows x 7 columns]

In [12]:
colunas={'pontos_num':'pontos','preco_num':'preco','variacao_num':'variacao','media_num':'media'}
ap = atletas_provaveis[['atleta_id','rodada_id','pontos_num','preco_num','variacao_num','media_num']].rename(columns=colunas)
pontos_c = pd.concat([ap,pontos],ignore_index=True)
pontos[pontos.rodada_id==12]

      index  atleta_id  rodada_id  pontos  preco  variacao  media
11       11      68952         12     9.7  24.72      1.46  10.75
23       23      71844         12     9.9  18.59      1.74   9.38
35       35      38632         12     9.2   6.58      0.58   9.20
47       47      96725         12     0.0  18.78      0.00   7.96
59       59      86410         12    13.5  11.60      2.23   7.47
...     ...        ...        ...     ...    ...       ...    ...
2627   2627      71631         12     0.0   6.70      0.00  -0.44
2639   2639      88916         12     0.0   4.97      0.00  -0.46
2651   2651      38545         12     0.0   5.93      0.00  -0.80
2663   2663      84382         12     1.3   2.83      0.66  -1.34
2675   2675      62129         12    -0.6   1.18      0.16  -1.43

[223 rows x 7 columns]

### Populando visitante e posicao

In [144]:
pontos_new = atletas.merge(pontos, on='atleta_id')[['atleta_id','apelido','rodada_id_y','pontos','preco','variacao','media','clube_id','posicao_id']]
pontos_new = pontos_new.merge(right = partidasDF, how='left',  left_on=['rodada_id_y','clube_id'], right_on=['rodada','clube_visitante_id'])[['atleta_id','apelido','rodada_id_y','pontos','preco','variacao','media','clube_id','posicao_id','clube_visitante_id']]
pontos_new['clube_visitante_id'] = pontos_new.clube_visitante_id.fillna(False)
pontos_new['visitante']=pontos_new['clube_visitante_id'].astype(bool)
pontos_new.drop(columns=['clube_visitante_id'],inplace=True)
pontos_new.head()

,atleta_id,apelido,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante
0,80370,Edson,1,0.0,4.00,0.00,0.00,373,4,True
1,80370,Edson,2,7.7,6.37,2.37,7.70,373,4,False
2,80370,Edson,3,1.2,5.79,-0.58,4.45,373,4,False
3,80370,Edson,4,5.5,7.02,1.23,4.80,373,4,True
4,80370,Edson,5,6.3,7.81,0.79,5.18,373,4,True

In [145]:
pd.set_option('display.max_rows', 200)
pontos_new=pontos_new.merge(right = partida_atualDF, how='left',  left_on=['clube_id'], right_on=['clube_visitante_id'])[['atleta_id','apelido','rodada_id_y','pontos','preco','variacao','media','clube_id','posicao_id','visitante','clube_visitante_posicao','clube_casa_posicao']]
pontos_new.head(200)

,atleta_id,apelido,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,clube_visitante_posicao,clube_casa_posicao
0,80370,Edson,1,0.00,4.00,0.00,0.00,373,4,True,13.0,10.0
1,80370,Edson,2,7.70,6.37,2.37,7.70,373,4,False,13.0,10.0
2,80370,Edson,3,1.20,5.79,-0.58,4.45,373,4,False,13.0,10.0
3,80370,Edson,4,5.50,7.02,1.23,4.80,373,4,True,13.0,10.0
4,80370,Edson,5,6.30,7.81,0.79,5.18,373,4,True,13.0,10.0
5,80370,Edson,6,5.50,8.19,0.38,5.24,373,4,False,13.0,10.0
6,80370,Edson,7,3.10,7.93,-0.26,4.88,373,4,True,13.0,10.0
7,80370,Edson,8,11.40,10.06,2.13,5.81,373,4,False,13.0,10.0
8,80370,Edson,9,3.00,8.98,-1.08,5.46,373,4,True,13.0,10.0
9,80370,Edson,10,1.00,8.62,-0.36,4.96,373,4,True,13.0,10.0
10,80370,Edson,11,2.30,8.65,0.03,4.69,373,4,False,13.0,10.0
11,80370,Edson,12,5.40,9.47,0.82,4.75,373,4,False,13.0,10.0
12,39850,Vagner Mancini,1,0.00,2.00,0.00,0.00,373,6,True,13.0,10.0
13,39850,Vagner Mancini,2,8.89,5.42,3.42,8.89,373,6,False,13.0,10.0
14,39850,Vagner Mancini,3,2.98,5.55,0.13,5.94,373,6,False,13.0,10.0
15,39850,Vagner Mancini,4,0.89,5.29,-0.26,4.26,373,6,True,13.0,10.0
16,39850,Vagner Mancini,5,1.27,5.32,0.03,3.51,373,6,True,13.0,10.0
17,39850,Vagner Mancini,6,1.98,5.50,0.18,3.20,373,6,False,13.0,10.0
18,39850,Vagner Mancini,7,3.60,5.90,0.40,3.27,373,6,True,13.0,10.0
19,39850,Vagner Mancini,8,2.46,5.92,0.02,3.15,373,6,False,13.0,10.0
20,39850,Vagner Mancini,9,4.69,6.51,0.59,3.34,373,6,True,13.0,10.0
21,39850,Vagner Mancini,10,4.37,6.69,0.18,3.45,373,6,True,13.0,10.0
22,39850,Vagner Mancini,11,4.43,6.76,0.07,3.55,373,6,False,13.0,10.0
23,39850,Vagner Mancini,12,2.41,6.65,-0.11,3.45,373,6,False,13.0,10.0
24,102253,Lucas Halter,1,0.00,4.00,0.00,0.00,293,3,True,11.0,6.0
25,102253,Lucas Halter,2,2.50,4.07,0.07,2.50,293,3,False,11.0,6.0
26,102253,Lucas Halter,3,-0.20,3.42,-0.65,1.15,293,3,True,11.0,6.0
27,102253,Lucas Halter,4,-0.80,2.97,-0.45,0.50,293,3,False,11.0,6.0
28,102253,Lucas Halter,5,0.00,2.97,0.00,0.50,293,3,False,11.0,6.0
29,102253,Lucas Halter,6,0.00,2.97,0.00,0.50,293,3,True,11.0,6.0
30,102253,Lucas Halter,7,1.90,3.15,0.18,0.85,293,3,False,11.0,6.0
31,102253,Lucas Halter,8,0.60,2.99,-0.16,0.80,293,3,True,11.0,6.0
32,102253,Lucas Halter,9,0.00,2.99,0.00,0.80,293,3,False,11.0,6.0
33,102253,Lucas Halter,10,0.00,2.99,0.00,0.80,293,3,False,11.0,6.0
34,102253,Lucas Halter,11,0.00,2.99,0.00,0.80,293,3,True,11.0,6.0
35,102253,Lucas Halter,12,0.00,2.99,0.00,0.80,293,3,False,11.0,6.0
36,61033,Rodriguinho,1,0.00,17.00,0.00,0.00,265,4,True,NaN,NaN
37,61033,Rodriguinho,2,10.90,17.40,0.40,10.90,265,4,False,NaN,NaN
38,61033,Rodriguinho,3,0.00,14.92,-2.48,5.45,265,4,False,NaN,NaN
39,61033,Rodriguinho,4,4.70,15.36,0.44,5.20,265,4,True,NaN,NaN
40,61033,Rodriguinho,5,3.20,14.93,-0.43,4.70,265,4,True,NaN,NaN
41,61033,Rodriguinho,6,0.40,14.09,-0.84,3.84,265,4,False,NaN,NaN
42,61033,Rodriguinho,7,10.80,16.02,1.93,5.00,265,4,False,NaN,NaN
43,61033,Rodriguinho,8,7.80,16.16,0.14,5.40,265,4,True,NaN,NaN
44,61033,Rodriguinho,9,5.90,16.05,-0.11,5.46,265,4,False,NaN,NaN
45,61033,Rodriguinho,10,1.50,15.25,-0.80,5.02,265,4,False,NaN,NaN
46,61033,Rodriguinho,11,0.00,15.25,0.00,5.02,265,4,True,NaN,NaN
47,61033,Rodriguinho,12,1.60,14.89,-0.36,4.68,265,4,True,NaN,NaN
48,61188,Gilberto,1,0.00,9.00,0.00,0.00,265,5,True,NaN,NaN
49,61188,Gilberto,2,0.00,9.00,0.00,0.00,265,5,False,NaN,NaN
50,61188,Gilberto,3,3.80,8.00,-1.00,3.80,265,5,False,NaN,NaN
51,61188,Gilberto,4,0.00,7.06,-0.94,1.90,265,5,True,NaN,NaN
52,61188,Gilberto,5,-1.10,6.38,-0.68,0.90,265,5,True,NaN,NaN
53,61188,Gilberto,6,0.90,6.49,0.11,0.90,265,5,False,NaN,NaN
54,61188,Gilberto,7,6.20,7.57,1.08,1.96,265,5,False,NaN,NaN
55,61188,Gilberto,8,5.70,7.95,0.38,2.58,265,5,True,NaN,NaN
56,61188,Gilberto,9,5.90,8.31,0.36,3.05,265,5,False,NaN,NaN
57,61188,Gilberto,10,-0.50,7.22,-1.09,2.61,265,5,False,NaN,NaN
58,61188,Gilberto,11,0.00,7.22,0.00,2.61,265,5,True,NaN,NaN
59,61188,Gilberto,12,0.60,7.17,-0.05,2.39,265,5,True,NaN,NaN
60,82773,Gilvan,1,0.00,4.00,0.00,0.00,373,3,True,13.0,10.0
61,82773,Gilvan,2,6.60,5.89,1.89,6.60,373,3,False,13.0,10.0
62,82773,Gilvan,3,0.80,5.25,-0.64,3.70,373,3,False,13.0,10.0
63,82773,Gilvan,4,0.90,5.16,-0.09,2.77,373,3,True,13.0,10.0
64,82773,Gilvan,5,-0.40,4.71,-0.45,1.98,373,3,True,13.0,10.0
65,82773,Gilvan,6,1.80,5.05,0.34,1.94,373,3,False,13.0,10.0
66,82773,Gilvan,7,0.00,5.05,0.00,1.94,373,3,True,13.0,10.0
67,82773,Gilvan,8,0.00,5.05,0.00,1.94,373,3,False,13.0,10.0
68,82773,Gilvan,9,0.00,5.05,0.00,1.94,373,3,True,13.0,10.0
69,82773,Gilvan,10,4.50,5.47,0.42,2.37,373,3,True,13.0,10.0
70,82773,Gilvan,11,9.50,6.62,1.15,3.39,373,3,False,13.0,10.0
71,82773,Gilvan,12,2.00,5.70,-0.92,3.22,373,3,False,13.0,10.0
72,94583,Pedro,1,-3.20,4.20,-4.80,-3.20,262,5,False,NaN,NaN
73,94583,Pedro,2,-1.10,1.67,-2.53,-2.15,262,5,True,NaN,NaN
74,94583,Pedro,3,0.10,1.36,-0.31,-1.40,262,5,True,NaN,NaN
75,94583,Pedro,4,-0.50,1.03,-0.33,-1.17,262,5,False,NaN,NaN
76,94583,Pedro,5,0.00,0.99,-0.04,-0.94,262,5,False,NaN,NaN
77,94583,Pedro,6,0.00,0.99,0.00,-0.94,262,5,True,NaN,NaN
78,94583,Pedro,7,20.40,5.73,4.74,2.62,262,5,True,NaN,NaN
79,94583,Pedro,8,3.90,3.86,-1.87,2.80,262,5,False,NaN,NaN
80,94583,Pedro,9,0.00,3.86,0.00,2.80,262,5,True,NaN,NaN
81,94583,Pedro,10,0.00,3.25,-0.61,2.45,262,5,True,NaN,NaN
82,94583,Pedro,11,0.00,3.25,0.00,2.45,262,5,False,NaN,NaN
83,94583,Pedro,12,0.00,3.25,0.00,2.45,262,5,True,NaN,NaN
84,92182,Juninho,1,0.00,8.00,0.00,0.00,265,3,True,NaN,NaN
85,92182,Juninho,2,5.90,8.53,0.53,5.90,265,3,False,NaN,NaN
86,92182,Juninho,3,7.70,9.97,1.44,6.80,265,3,False,NaN,NaN
87,92182,Juninho,4,-0.50,8.51,-1.46,4.37,265,3,True,NaN,NaN
88,92182,Juninho,5,3.40,9.09,0.58,4.13,265,3,True,NaN,NaN
89,92182,Juninho,6,1.40,8.72,-0.37,3.58,265,3,False,NaN,NaN
90,92182,Juninho,7,4.80,9.33,0.61,3.78,265,3,False,NaN,NaN
91,92182,Juninho,8,-0.10,8.55,-0.78,3.23,265,3,True,NaN,NaN
92,92182,Juninho,9,1.90,8.80,0.25,3.06,265,3,False,NaN,NaN
93,92182,Juninho,10,-2.00,7.93,-0.87,2.50,265,3,False,NaN,NaN
94,92182,Juninho,11,0.00,7.93,0.00,2.50,265,3,True,NaN,NaN
95,92182,Juninho,12,1.80,8.29,0.36,2.43,265,3,True,NaN,NaN
96,69940,Honda,1,0.00,6.00,0.00,0.00,263,4,False,NaN,NaN
97,69940,Honda,2,0.70,4.75,-1.25,0.70,263,4,True,NaN,NaN
98,69940,Honda,3,2.50,4.99,0.24,1.60,263,4,True,NaN,NaN
99,69940,Honda,4,0.00,4.99,0.00,1.60,263,4,False,NaN,NaN
100,69940,Honda,5,3.90,5.35,0.36,2.37,263,4,True,NaN,NaN
101,69940,Honda,6,0.00,5.35,0.00,2.37,263,4,False,NaN,NaN
102,69940,Honda,7,0.20,4.62,-0.73,1.83,263,4,False,NaN,NaN
103,69940,Honda,8,6.80,6.09,1.47,2.82,263,4,True,NaN,NaN
104,69940,Honda,9,0.00,6.09,0.00,2.82,263,4,True,NaN,NaN
105,69940,Honda,10,-0.90,4.83,-1.26,2.20,263,4,False,NaN,NaN
106,69940,Honda,11,0.50,4.88,0.05,1.96,263,4,False,NaN,NaN
107,69940,Honda,12,0.00,4.88,0.00,1.96,263,4,True,NaN,NaN
108,104513,Abner Vinícius,1,7.20,7.39,4.39,7.20,293,2,True,11.0,6.0
109,104513,Abner Vinícius,2,2.90,8.88,1.49,5.05,293,2,False,11.0,6.0
110,104513,Abner Vinícius,3,9.10,11.19,2.31,6.40,293,2,True,11.0,6.0
111,104513,Abner Vinícius,4,-0.50,9.59,-1.60,4.68,293,2,False,11.0,6.0
112,104513,Abner Vinícius,5,0.30,9.31,-0.28,3.80,293,2,False,11.0,6.0
113,104513,Abner Vinícius,6,0.00,9.31,0.00,3.80,293,2,True,11.0,6.0
114,104513,Abner Vinícius,7,2.10,9.15,-0.16,3.52,293,2,False,11.0,6.0
115,104513,Abner Vinícius,8,-0.10,8.72,-0.43,3.00,293,2,True,11.0,6.0
116,104513,Abner Vinícius,9,0.00,8.72,0.00,3.00,293,2,False,11.0,6.0
117,104513,Abner Vinícius,10,7.20,9.95,1.23,3.52,293,2,False,11.0,6.0
118,104513,Abner Vinícius,11,0.00,9.95,0.00,3.52,293,2,True,11.0,6.0
119,104513,Abner Vinícius,12,12.30,11.25,1.30,4.50,293,2,False,11.0,6.0
120,69012,Santos,1,0.00,10.00,0.00,0.00,293,1,True,11.0,6.0
121,69012,Santos,2,-2.80,6.15,-3.85,-2.80,293,1,False,11.0,6.0
122,69012,Santos,3,5.80,7.45,1.30,1.50,293,1,True,11.0,6.0
123,69012,Santos,4,-3.10,5.41,-2.04,-0.03,293,1,False,11.0,6.0
124,69012,Santos,5,1.50,5.86,0.45,0.35,293,1,False,11.0,6.0
125,69012,Santos,6,0.00,5.86,0.00,0.35,293,1,True,11.0,6.0
126,69012,Santos,7,1.10,5.51,-0.35,0.50,293,1,False,11.0,6.0
127,69012,Santos,8,-2.10,4.79,-0.72,0.07,293,1,True,11.0,6.0
128,69012,Santos,9,1.60,5.31,0.52,0.29,293,1,False,11.0,6.0
129,69012,Santos,10,8.40,6.80,1.49,1.30,293,1,False,11.0,6.0
130,69012,Santos,11,0.00,6.80,0.00,1.30,293,1,True,11.0,6.0
131,69012,Santos,12,10.60,7.69,0.89,2.33,293,1,False,11.0,6.0
132,70986,Léo Cittadini,1,9.80,12.90,4.90,9.80,293,4,True,11.0,6.0
133,70986,Léo Cittadini,2,6.00,15.10,2.20,7.90,293,4,False,11.0,6.0
134,70986,Léo Cittadini,3,1.90,14.17,-0.93,5.90,293,4,True,11.0,6.0
135,70986,Léo Cittadini,4,1.80,13.72,-0.45,4.88,293,4,False,11.0,6.0
136,70986,Léo Cittadini,5,0.30,12.95,-0.77,3.96,293,4,False,11.0,6.0
137,70986,Léo Cittadini,6,0.00,12.95,0.00,3.96,293,4,True,11.0,6.0
138,70986,Léo Cittadini,7,2.10,12.51,-0.44,3.65,293,4,False,11.0,6.0
139,70986,Léo Cittadini,8,4.30,13.03,0.52,3.74,293,4,True,11.0,6.0
140,70986,Léo Cittadini,9,4.20,13.09,0.06,3.80,293,4,False,11.0,6.0
141,70986,Léo Cittadini,10,0.00,13.09,0.00,3.80,293,4,False,11.0,6.0
142,70986,Léo Cittadini,11,0.00,13.09,0.00,3.80,293,4,True,11.0,6.0
143,70986,Léo Cittadini,12,1.90,12.35,-0.74,3.59,293,4,False,11.0,6.0
144,82758,Hyuri,1,0.00,5.00,0.00,0.00,373,5,True,13.0,10.0
145,82758,Hyuri,2,11.00,8.58,3.58,11.00,373,5,False,13.0,10.0
146,82758,Hyuri,3,2.20,7.98,-0.60,6.60,373,5,False,13.0,10.0
147,82758,Hyuri,4,-0.50,7.21,-0.77,4.23,373,5,True,13.0,10.0
148,82758,Hyuri,5,-0.80,6.73,-0.48,2.97,373,5,True,13.0,10.0
149,82758,Hyuri,6,1.50,6.97,0.24,2.68,373,5,False,13.0,10.0
150,82758,Hyuri,7,0.50,6.62,-0.35,2.32,373,5,True,13.0,10.0
151,82758,Hyuri,8,-0.50,6.35,-0.27,1.92,373,5,False,13.0,10.0
152,82758,Hyuri,9,-0.60,6.13,-0.22,1.60,373,5,True,13.0,10.0
153,82758,Hyuri,10,-2.60,5.53,-0.60,1.13,373,5,True,13.0,10.0
154,82758,Hyuri,11,0.00,5.53,0.00,1.13,373,5,False,13.0,10.0
155,82758,Hyuri,12,11.90,8.14,2.61,2.21,373,5,False,13.0,10.0
156,74061,Gatito Fernández,1,0.00,15.00,0.00,0.00,263,1,False,NaN,NaN
157,74061,Gatito Fernández,2,5.30,13.44,-1.56,5.30,263,1,True,NaN,NaN
158,74061,Gatito Fernández,3,4.20,13.06,-0.38,4.75,263,1,True,NaN,NaN
159,74061,Gatito Fernández,4,7.90,14.16,1.10,5.80,263,1,False,NaN,NaN
160,74061,Gatito Fernández,5,1.30,12.93,-1.23,4.68,263,1,True,NaN,NaN
161,74061,Gatito Fernández,6,3.50,13.19,0.26,4.44,263,1,False,NaN,NaN
162,74061,Gatito Fernández,7,9.00,14.35,1.16,5.20,263,1,False,NaN,NaN
163,74061,Gatito Fernández,8,-0.70,12.80,-1.55,4.36,263,1,True,NaN,NaN
164,74061,Gatito Fernández,9,0.00,12.80,0.00,4.36,263,1,True,NaN,NaN
165,74061,Gatito Fernández,10,0.00,12.80,0.00,4.36,263,1,False,NaN,NaN
166,74061,Gatito Fernández,11,14.30,14.90,2.10,5.60,263,1,False,NaN,NaN
167,74061,Gatito Fernández,12,0.00,14.90,0.00,5.60,263,1,True,NaN,NaN
168,89637,Thiago Maia,1,0.00,7.00,0.00,0.00,262,4,False,NaN,NaN
169,89637,Thiago Maia,2,0.00,7.00,0.00,0.00,262,4,True,NaN,NaN
170,89637,Thiago Maia,3,0.00,7.00,0.00,0.00,262,4,True,NaN,NaN
171,89637,Thiago Maia,4,0.00,7.00,0.00,0.00,262,4,False,NaN,NaN
172,89637,Thiago Maia,5,-0.60,5.11,-1.89,-0.60,262,4,False,NaN,NaN
173,89637,Thiago Maia,6,1.80,5.42,0.31,0.60,262,4,True,NaN,NaN
174,89637,Thiago Maia,7,0.90,5.17,-0.25,0.70,262,4,True,NaN,NaN
175,89637,Thiago Maia,8,0.00,5.17,0.00,0.70,262,4,False,NaN,NaN
176,89637,Thiago Maia,9,2.60,5.44,0.27,1.17,262,4,True,NaN,NaN
177,89637,Thiago Maia,10,5.50,6.16,0.72,2.04,262,4,True,NaN,NaN
178,89637,Thiago Maia,11,0.00,6.16,0.00,2.04,262,4,False,NaN,NaN
179,89637,Thiago Maia,12,0.00,6.16,0.00,2.04,262,4,True,NaN,NaN
180,89815,Gustavo Ferrareis,1,0.00,4.00,0.00,0.00,373,4,True,13.0,10.0
181,89815,Gustavo Ferrareis,2,15.80,9.97,5.97,15.80,373,4,False,13.0,10.0
182,89815,Gustavo Ferrareis,3,5.10,10.08,0.11,10.45,373,4,False,13.0,10.0
183,89815,Gustavo Ferrareis,4,0.00,10.08,0.00,10.45,373,4,True,13.0,10.0
184,89815,Gustavo Ferrareis,5,2.50,9.62,-0.46,7.80,373,4,True,13.0,10.0
185,89815,Gustavo Ferrareis,6,0.50,9.14,-0.48,5.98,373,4,False,13.0,10.0
186,89815,Gustavo Ferrareis,7,0.40,8.82,-0.32,4.86,373,4,True,13.0,10.0
187,89815,Gustavo Ferrareis,8,-0.90,8.44,-0.38,3.90,373,4,False,13.0,10.0
188,89815,Gustavo Ferrareis,9,1.80,8.77,0.33,3.60,373,4,True,13.0,10.0
189,89815,Gustavo Ferrareis,10,1.50,8.68,-0.09,3.34,373,4,True,13.0,10.0
190,89815,Gustavo Ferrareis,11,9.30,10.08,1.40,4.00,373,4,False,13.0,10.0
191,89815,Gustavo Ferrareis,12,0.00,8.78,-1.30,3.60,373,4,False,13.0,10.0
192,90933,Jean,1,0.00,3.00,0.00,0.00,373,1,True,13.0,10.0
193,90933,Jean,2,16.10,9.36,6.36,16.10,373,1,False,13.0,10.0
194,90933,Jean,3,4.60,9.37,0.01,10.35,373,1,False,13.0,10.0
195,90933,Jean,4,-5.60,6.85,-2.52,5.03,373,1,True,13.0,10.0
196,90933,Jean,5,-4.00,6.12,-0.73,2.77,373,1,True,13.0,10.0
197,90933,Jean,6,5.30,7.73,1.61,3.28,373,1,False,13.0,10.0
198,90933,Jean,7,1.80,7.19,-0.54,3.03,373,1,True,13.0,10.0
199,90933,Jean,8,-2.40,6.30,-0.89,2.25,373,1,False,13.0,10.0

In [110]:
pontos_new['e_visitante_rodada_atual']=pontos_new.clube_id.isin(partida_atualDF.clube_visitante_id)
pontos_new_rodada = pontos_new[(pontos_new.visitante==pontos_new.e_visitante_rodada_atual) & (pontos_new.atleta_id.isin(atletas_provaveis.atleta_id))].groupby(by='apelido').mean().sort_values(by='pontos',ascending=False)

In [121]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==1].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
João Paulo,85425.0,6.000000,10.000000,7.344000,2.116000,7.324000,277.0,1.0,1.0,1.0
Wilson,50284.0,5.800000,8.100000,8.916000,1.510000,4.118000,294.0,1.0,0.0,0.0
Gatito Fernández,74061.0,6.500000,5.783333,14.066667,0.770000,4.233333,263.0,1.0,0.0,0.0
Felipe Alves,72372.0,6.000000,2.740000,3.094000,-0.246000,0.408000,356.0,1.0,0.0,0.0
Muriel,69041.0,5.800000,2.680000,4.502000,0.270000,0.568000,266.0,1.0,1.0,1.0
Douglas Friedrich,78584.0,6.166667,2.650000,10.353333,0.181667,6.166667,265.0,1.0,0.0,0.0
Jean,90933.0,6.000000,2.250000,6.906667,-0.065000,3.013333,373.0,1.0,1.0,1.0
Cássio,42234.0,6.666667,2.233333,9.776667,-0.181667,3.038333,264.0,1.0,1.0,1.0
Vanderlei,62121.0,6.333333,1.466667,8.623333,-0.046667,4.413333,284.0,1.0,0.0,0.0
Tadeu,82453.0,6.000000,1.083333,7.916667,-0.345000,-0.923333,290.0,1.0,0.0,0.0

In [120]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==2].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
Felipe Jonatan,101708.0,6.000000,7.200000,11.050000,0.704000,5.306000,277.0,2.0,1.0,1.0
Guga,101319.0,6.666667,5.366667,13.631667,0.818333,6.855000,282.0,2.0,0.0,0.0
Gabriel Dias,88368.0,6.000000,4.960000,6.958000,1.160000,2.948000,356.0,2.0,0.0,0.0
Saravia,96725.0,6.333333,4.250000,18.996667,0.736667,10.020000,285.0,2.0,1.0,1.0
Guilherme Arana,87228.0,6.666667,3.933333,16.886667,0.123333,5.298333,282.0,2.0,0.0,0.0
Bruno Cortez,72079.0,6.333333,3.433333,10.495000,0.720000,4.853333,284.0,2.0,0.0,0.0
Moisés,90444.0,6.333333,3.416667,10.765000,0.433333,5.005000,285.0,2.0,1.0,1.0
Bruno Pacheco,90061.0,6.000000,3.400000,7.224000,0.082000,2.972000,354.0,2.0,1.0,1.0
Juninho Capixaba,94968.0,6.166667,3.266667,7.566667,0.371667,5.320000,265.0,2.0,0.0,0.0
Abner Vinícius,104513.0,5.800000,3.240000,9.312000,1.254000,4.784000,293.0,2.0,1.0,1.0

In [119]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==3].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
Sabino,104075.0,5.800000,4.720000,6.088000,0.328000,3.138000,294.0,3.0,0.0,0.0
Júnior Alonso,88312.0,6.666667,4.700000,11.245000,0.896667,4.993333,282.0,3.0,0.0,0.0
Iago Maidana,89226.0,6.166667,4.500000,5.986667,0.903333,2.285000,292.0,3.0,1.0,1.0
Paulão,63172.0,6.000000,3.700000,2.368000,0.204000,0.610000,356.0,3.0,0.0,0.0
Kanu,98484.0,6.500000,3.583333,4.210000,0.378333,2.473333,263.0,3.0,0.0,0.0
Gustavo Gómez,71684.0,6.333333,3.250000,13.523333,0.015000,4.341667,275.0,3.0,0.0,0.0
Marcelo Benevenuto,95638.0,6.500000,3.000000,6.666667,0.203333,2.033333,263.0,3.0,0.0,0.0
Ernando,49651.0,6.166667,2.850000,6.315000,0.636667,4.311667,265.0,3.0,0.0,0.0
Luan Peres,84847.0,6.000000,2.760000,5.782000,0.104000,2.504000,277.0,3.0,1.0,1.0
Jackson,70934.0,6.000000,2.400000,3.594000,0.208000,1.312000,356.0,3.0,0.0,0.0

In [118]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==4].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
Rodriguinho,61033.0,6.166667,4.916667,15.621667,-0.316667,5.945000,265.0,4.0,0.0,0.0
Thiago Galhardo,71844.0,6.333333,4.850000,14.436667,0.078333,7.723333,285.0,4.0,1.0,1.0
Fernando Sobral,84428.0,6.000000,4.800000,10.884000,0.808000,5.988000,354.0,4.0,1.0,1.0
Jair,81091.0,6.666667,4.483333,7.371667,0.861667,3.313333,282.0,4.0,0.0,0.0
Bruno Tubarão,93637.0,6.000000,3.880000,2.402000,0.560000,0.904000,280.0,4.0,0.0,0.0
Franco,39656.0,6.666667,3.666667,4.625000,0.350000,2.015000,282.0,4.0,0.0,0.0
Daniel Bessa,103591.0,6.000000,3.366667,6.751667,0.371667,3.928333,290.0,4.0,0.0,0.0
Alisson,81845.0,6.333333,3.283333,9.926667,-0.061667,5.105000,284.0,4.0,0.0,0.0
Ramiro,78715.0,6.666667,3.266667,6.680000,0.253333,3.420000,264.0,4.0,1.0,1.0
Léo Cittadini,70986.0,5.800000,3.200000,13.228000,0.898000,5.440000,293.0,4.0,1.0,1.0

In [116]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==5].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
Alerrandro,101715.0,6.000000,10.540000,10.734000,1.814000,6.446000,280.0,5.0,0.0,0.0
Marinho,68952.0,6.000000,7.580000,21.038000,0.312000,11.210000,277.0,5.0,1.0,1.0
Keno,86485.0,6.666667,7.283333,10.291667,0.160000,2.370000,282.0,5.0,0.0,0.0
Wellington Paulista,38279.0,6.000000,5.640000,7.576000,0.678000,2.890000,356.0,5.0,0.0,0.0
Claudinho,92630.0,6.000000,5.120000,13.426000,0.564000,6.000000,280.0,5.0,0.0,0.0
Matheus Babi,94444.0,6.500000,4.950000,6.885000,0.260000,4.365000,263.0,5.0,0.0,0.0
Élber,74140.0,6.166667,4.933333,8.946667,0.676667,4.628333,265.0,5.0,0.0,0.0
Cano,79631.0,6.500000,4.933333,12.421667,0.158333,5.538333,267.0,5.0,1.0,1.0
Romarinho,84523.0,6.000000,3.920000,7.938000,0.500000,3.934000,356.0,5.0,0.0,0.0
Talles Magno,105786.0,6.500000,3.900000,10.106667,0.443333,4.646667,267.0,5.0,1.0,1.0

In [117]:
pontos_new_rodada[pontos_new_rodada['posicao_id']==6].nlargest(10,'pontos')

,atleta_id,rodada_id_y,pontos,preco,variacao,media,clube_id,posicao_id,visitante,e_visitante_rodada_atual
apelido,,,,,,,,,,
Jorge Sampaoli,70800.0,6.666667,5.395000,14.023333,6.800000e-01,5.275000,282.0,6.0,0.0,0.0
Jorginho,70323.0,5.800000,4.540000,7.240000,7.233333e-01,4.703333,294.0,6.0,0.0,0.0
Cuca,42411.0,6.000000,4.476000,10.138000,1.120000e-01,4.024000,277.0,6.0,1.0,1.0
Maurício Barbieri,82792.0,6.000000,3.805000,5.835000,5.000000e-02,2.105000,280.0,6.0,0.0,0.0
Rogério Ceni,97341.0,6.000000,3.746000,6.312000,7.000000e-02,2.030000,356.0,6.0,0.0,0.0
Ramon Menezes,96767.0,6.500000,3.390000,9.233333,1.750000e-01,4.136667,267.0,6.0,1.0,1.0
Paulo Autuori,36943.0,6.500000,3.145000,8.276667,2.133333e-01,2.831667,263.0,6.0,0.0,0.0
Guto Ferreira,37245.0,6.000000,2.978000,7.252000,-2.220446e-17,3.246000,354.0,6.0,1.0,1.0
Renato Gaúcho,41929.0,6.333333,2.891667,12.281667,-1.983333e-01,4.320000,284.0,6.0,0.0,0.0
Odair Hellmann,92273.0,5.800000,2.870000,8.200000,-1.440000e-01,2.748000,266.0,6.0,1.0,1.0